apiVersion: v1
kind: ConfigMap
metadata:
  name: usage
  namespace: nt-cp4ba-demo
data:
  usage.md: |- 
    {{ lookup('file', usage_path) | indent(4) }}
{% if git_commit_id is defined %}
  z-git-commit: |
    ## Version

    For the reference and to know which version of the cp4ba demo deployment was used, bellow you can find the sha hash of the used commit.

    - cp4ba demo used commit sha hash: {{ git_commit_id }}
{% endif %}
{% if zen_api_key_new is defined %}
  zen-api-key: {{ zen_api_key_new }}
{% endif %}